Repository akuhnregnier/fuel-build-up: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-autoflake-clean, only-black, python-clean, jupyter-clean

no-autoflake-clean:
  name: no-autoflake-clean
  entry: clean_ipynb --no-autoflake
  language: system

only-black:
  name: only-black
  entry: clean_ipynb --no-autoflake --no-isort
  language: system

python-clean:
  name: python-clean
  entry: clean_ipynb --no-ipynb
  language: system

jupyter-clean:
  name: jupyter-clean
  entry: clean_ipynb --no-py --no-autoflake --keep-output
  language: system

Added units, out-of-sample prediction comparisons. Used mean of quantiles for all aggregated quantiles now for multi-variable ALE plots. Re-design of 2D ALE plots and model score comparisons plot.
  analyses/seasonality_paper_st/all/model_predictions.ipynb
  analyses/seasonality_paper_st/common.py
  analyses/seasonality_paper_st/comparisons/ale_plots.ipynb
  analyses/seasonality_paper_st/comparisons/specific.py
  analyses/seasonality_paper_st/fapar_only/model_analysis_ale_pdp.ipynb
  analyses/seasonality_paper_st/fapar_only/model_analysis_ale_pdp_2d.ipynb
  analyses/seasonality_paper_st/fapar_only/shap_map_plot_peaks.ipynb
  analyses/seasonality_paper_st/model_scores.ipynb
Due: no-autoflake-clean, only-black, jupyter-clean

Omitted contour lines for 2D ALE plots.
  analyses/seasonality_paper_st/common.py
Due: no-autoflake-clean

Added license and zenodo config file.
  .gitattributes
  .zenodo.json
  LICENSE
  README.md
Due: none

Added zenodo doi.
  README.md
Due: none

Updated figures and saved them as pdfs. Fixed FAPAR units. Implemented new ways to specify global matplotlib (matplotlibrc file) and cube_plotting (new common function) defaults.
  analyses/seasonality_paper_st/15_most_important/specific.py
  analyses/seasonality_paper_st/all/model_predictions.ipynb
  analyses/seasonality_paper_st/all/specific.py
  analyses/seasonality_paper_st/all/variable_diagnostics.ipynb
  analyses/seasonality_paper_st/all_interp_exclusion_robustness/specific.py
  analyses/seasonality_paper_st/best_top_15/specific.py
  analyses/seasonality_paper_st/common.py
  analyses/seasonality_paper_st/comparisons/ale_plots.ipynb
  analyses/seasonality_paper_st/comparisons/prediction_comparison_all__no_temporal_shifts.ipynb
  analyses/seasonality_paper_st/comparisons/specific.py
  analyses/seasonality_paper_st/fapar_only/model_analysis_ale_pdp.ipynb
  analyses/seasonality_paper_st/fapar_only/model_analysis_ale_pdp_2d.ipynb
  analyses/seasonality_paper_st/fapar_only/shap_map_plot_peaks.ipynb
  analyses/seasonality_paper_st/fapar_only/specific.py
  analyses/seasonality_paper_st/lagged_fapar_only/specific.py
  analyses/seasonality_paper_st/lagged_lai_only/specific.py
  analyses/seasonality_paper_st/lagged_sif_only/specific.py
  analyses/seasonality_paper_st/lagged_vod_only/specific.py
  analyses/seasonality_paper_st/lai_only/specific.py
  analyses/seasonality_paper_st/matplotlibrc
  analyses/seasonality_paper_st/model_scores.ipynb
  analyses/seasonality_paper_st/no_temporal_shifts/specific.py
  analyses/seasonality_paper_st/sif_only/specific.py
  analyses/seasonality_paper_st/vod_only/specific.py
Due: no-autoflake-clean, only-black, jupyter-clean

Correlation plot colorbar size, peak panel titles.
  analyses/seasonality_paper_st/all/variable_diagnostics.ipynb
  analyses/seasonality_paper_st/fapar_only/shap_map_plot_peaks.ipynb
Due: jupyter-clean

Enabled autoflake for Jupyter notebooks. This relies on updating clean_ipynb to at least 0.3.1.
  .pre-commit-config.yaml
Due: none

Path conditions:
  no-autoflake-clean: any of: (__init__|common)\.py$
  only-black: any of: specific\.py$
  python-clean: any of: \.py$, but not: (__init__|common|specific)\.py$
  jupyter-clean: any of: \.ipynb$
